table{
    border-radius: 5px;
    width: 300px;
    border: "1";
    background-color: rgb(101, 185, 210);
    border: 2px;
    border-style: outset;
}

.bu{
    border: 2px;
    border-radius: 5px;
}
.bu:hover{
    background-color:rgb(226, 166, 237) !important;
}


.b{
    box-shadow: 0px 2px #888888;
    background-color: white;
}
.s{
    box-shadow: 0px 2px #888888;
    background-color: rgb(243, 223, 225);
}


#C{
    background-color: palevioletred;
    box-shadow: 0px 2px rgb(161, 83, 109);
    color: white;
}
#one{
    background-color: rgb(168, 75, 231);
    color: white;
    box-shadow: 0px 2px rgb(131, 57, 180);
}
#eq{
    background-color: rgb(171, 238, 123);
    box-shadow: 0px 2px rgb(103, 146, 72);
}
#en{
    background-color: rgb(127, 152, 172);
    box-shadow: 0px -2px rgb(97, 116, 131);
    border-color: rgb(97, 116, 131);
}